<div class="container mt-5">
    <h3 class="mb-4">ТОП 5 книг</h3>
    <div class="row">
        {% for rec in recommended_books %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{ rec.book.image.url }}" class="card-img-top" alt="{{ rec.book.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ rec.book.title }}</h5>
                    <p class="card-text">{{ rec.book.author.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not is_authenticated %}
    <div class="alert alert-info text-center">
        Для персонализированных рекомендаций авторизируйтесь!
    </div>
    {% endif %}
</div>